DIR="$( cd "$( dirname "$0" )" && pwd )"
python "$DIR"/clean_recorded.py \
--dir /home/jay/Self-Driving-RC-Data/recorded-2017-06-04/recorded/ \
--csv /home/jay/Self-Driving-RC-Data/recorded-2017-06-04/recorded.csv \
--edited-csv /home/jay/Self-Driving-RC-Data/recorded-2017-06-04/recorded.edit.csv \
-r