DIR="$( cd "$( dirname "$0" )" && pwd )"
python "$DIR"/preprocess.py \
--data-dir /home/jay/Self-Driving-RC-Data/recorded-2017-06-04/ \
--calibration-file /home/jay/Self-Driving-RC/Computer/calibrations/cal-elp.p